VMS.HIS.Ngoaitru/Service References/CheckCard/LichSuKCB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3764/LichSuKCB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BHXH_CheckThe.Model" />
  <xs:element name="KiemTraTheBh_366">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BHXH_CheckThe.Model" minOccurs="0" name="apiTheBhyt" nillable="true" type="q1:ApiTheBHYT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTheBh_366Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BHXH_CheckThe.Model" minOccurs="0" name="KiemTraTheBh_366Result" nillable="true" type="q2:KQNhanLichSuKCBBS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTheBh_595">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BHXH_CheckThe.Model" minOccurs="0" name="apiTheBhyt" nillable="true" type="q3:ApiTheBHYT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTheBh_595Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BHXH_CheckThe.Model" minOccurs="0" name="KiemTraTheBh_595Result" nillable="true" type="q4:KQNhanLichSuKCB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>