VMS.HIS.QMSScreen/Web References/QMSService/QMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VmsQmsLaysoQMSGoilai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maquay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makhoa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loaiqms" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VmsQmsLaysoQMSGoilaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VmsQmsLaysoQMSGoilaiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VmsQmsLaydanhsachbenhnhanchokham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaPhongKham" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makhoa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sluong_hthi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VmsQmsLaydanhsachbenhnhanchokhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VmsQmsLaydanhsachbenhnhanchokhamResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetQMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MaQuay" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trang_thai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetQMSResponse">
        <s:complexType />
      </s:element>
      <s:element name="QMSPhongkham_get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maPhong" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayTao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="makhoakcb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QMSPhongkham_getResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QMSPhongkham_getResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QMSPhongkham_CapnhatTrangthai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_kham" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qmstype" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QMSPhongkham_CapnhatTrangthaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QMSPhongkham_CapnhatTrangthaiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusQms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maPhong" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayTao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusQmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateStatusQmsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoKhamQmsChucNang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maPhong" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayTao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoKhamQmsChucNangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSoKhamQmsChucNangResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNoiThucHien">
        <s:complexType />
      </s:element>
      <s:element name="GetNoiThucHienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNoiThucHienResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQMSInfor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maphong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQMSInforResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQMSInforResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeQMSStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maphong" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machucnang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makhoa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_type" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeQMSStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeQMSStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteQMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QMSID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteQMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteQMSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeQMSPriority">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maphong" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tthai" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeQMSPriorityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeQMSPriorityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListQmSbyMaPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maPhong" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machucnang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayTao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="maKhoa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListQmSbyMaPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListQmSbyMaPhongResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListQmSbyMaPhongAll">
        <s:complexType />
      </s:element>
      <s:element name="GetListQmSbyMaPhongAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListQmSbyMaPhongAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertGoiLoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soKham" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quayGoi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mayGoi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maKhoa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trangThai" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loaiQMS" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="nguoiTao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayTao" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mayTao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loaGoi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noiDung" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertGoiLoaResponse">
        <s:complexType />
      </s:element>
      <s:element name="_GetNoiThucHien">
        <s:complexType />
      </s:element>
      <s:element name="_GetNoiThucHienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetNoiThucHienResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="VmsQmsLaysoQMSGoilaiSoapIn">
    <wsdl:part name="parameters" element="tns:VmsQmsLaysoQMSGoilai" />
  </wsdl:message>
  <wsdl:message name="VmsQmsLaysoQMSGoilaiSoapOut">
    <wsdl:part name="parameters" element="tns:VmsQmsLaysoQMSGoilaiResponse" />
  </wsdl:message>
  <wsdl:message name="VmsQmsLaydanhsachbenhnhanchokhamSoapIn">
    <wsdl:part name="parameters" element="tns:VmsQmsLaydanhsachbenhnhanchokham" />
  </wsdl:message>
  <wsdl:message name="VmsQmsLaydanhsachbenhnhanchokhamSoapOut">
    <wsdl:part name="parameters" element="tns:VmsQmsLaydanhsachbenhnhanchokhamResponse" />
  </wsdl:message>
  <wsdl:message name="ResetQMSSoapIn">
    <wsdl:part name="parameters" element="tns:ResetQMS" />
  </wsdl:message>
  <wsdl:message name="ResetQMSSoapOut">
    <wsdl:part name="parameters" element="tns:ResetQMSResponse" />
  </wsdl:message>
  <wsdl:message name="QMSPhongkham_getSoapIn">
    <wsdl:part name="parameters" element="tns:QMSPhongkham_get" />
  </wsdl:message>
  <wsdl:message name="QMSPhongkham_getSoapOut">
    <wsdl:part name="parameters" element="tns:QMSPhongkham_getResponse" />
  </wsdl:message>
  <wsdl:message name="QMSPhongkham_CapnhatTrangthaiSoapIn">
    <wsdl:part name="parameters" element="tns:QMSPhongkham_CapnhatTrangthai" />
  </wsdl:message>
  <wsdl:message name="QMSPhongkham_CapnhatTrangthaiSoapOut">
    <wsdl:part name="parameters" element="tns:QMSPhongkham_CapnhatTrangthaiResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusQmsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatusQms" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusQmsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusQmsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoKhamQmsChucNangSoapIn">
    <wsdl:part name="parameters" element="tns:GetSoKhamQmsChucNang" />
  </wsdl:message>
  <wsdl:message name="GetSoKhamQmsChucNangSoapOut">
    <wsdl:part name="parameters" element="tns:GetSoKhamQmsChucNangResponse" />
  </wsdl:message>
  <wsdl:message name="GetNoiThucHienSoapIn">
    <wsdl:part name="parameters" element="tns:GetNoiThucHien" />
  </wsdl:message>
  <wsdl:message name="GetNoiThucHienSoapOut">
    <wsdl:part name="parameters" element="tns:GetNoiThucHienResponse" />
  </wsdl:message>
  <wsdl:message name="getQMSInforSoapIn">
    <wsdl:part name="parameters" element="tns:getQMSInfor" />
  </wsdl:message>
  <wsdl:message name="getQMSInforSoapOut">
    <wsdl:part name="parameters" element="tns:getQMSInforResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeQMSStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeQMSStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeQMSStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeQMSStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteQMSSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteQMS" />
  </wsdl:message>
  <wsdl:message name="DeleteQMSSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteQMSResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeQMSPrioritySoapIn">
    <wsdl:part name="parameters" element="tns:ChangeQMSPriority" />
  </wsdl:message>
  <wsdl:message name="ChangeQMSPrioritySoapOut">
    <wsdl:part name="parameters" element="tns:ChangeQMSPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="GetListQmSbyMaPhongSoapIn">
    <wsdl:part name="parameters" element="tns:GetListQmSbyMaPhong" />
  </wsdl:message>
  <wsdl:message name="GetListQmSbyMaPhongSoapOut">
    <wsdl:part name="parameters" element="tns:GetListQmSbyMaPhongResponse" />
  </wsdl:message>
  <wsdl:message name="GetListQmSbyMaPhongAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetListQmSbyMaPhongAll" />
  </wsdl:message>
  <wsdl:message name="GetListQmSbyMaPhongAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetListQmSbyMaPhongAllResponse" />
  </wsdl:message>
  <wsdl:message name="InsertGoiLoaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertGoiLoa" />
  </wsdl:message>
  <wsdl:message name="InsertGoiLoaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertGoiLoaResponse" />
  </wsdl:message>
  <wsdl:message name="_GetNoiThucHienSoapIn">
    <wsdl:part name="parameters" element="tns:_GetNoiThucHien" />
  </wsdl:message>
  <wsdl:message name="_GetNoiThucHienSoapOut">
    <wsdl:part name="parameters" element="tns:_GetNoiThucHienResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaysoQMSGoilai">
      <wsdl:input message="tns:VmsQmsLaysoQMSGoilaiSoapIn" />
      <wsdl:output message="tns:VmsQmsLaysoQMSGoilaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaydanhsachbenhnhanchokham">
      <wsdl:input message="tns:VmsQmsLaydanhsachbenhnhanchokhamSoapIn" />
      <wsdl:output message="tns:VmsQmsLaydanhsachbenhnhanchokhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetQMS">
      <wsdl:input message="tns:ResetQMSSoapIn" />
      <wsdl:output message="tns:ResetQMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_get">
      <wsdl:input message="tns:QMSPhongkham_getSoapIn" />
      <wsdl:output message="tns:QMSPhongkham_getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_CapnhatTrangthai">
      <wsdl:input message="tns:QMSPhongkham_CapnhatTrangthaiSoapIn" />
      <wsdl:output message="tns:QMSPhongkham_CapnhatTrangthaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusQms">
      <wsdl:input message="tns:UpdateStatusQmsSoapIn" />
      <wsdl:output message="tns:UpdateStatusQmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoKhamQmsChucNang">
      <wsdl:input message="tns:GetSoKhamQmsChucNangSoapIn" />
      <wsdl:output message="tns:GetSoKhamQmsChucNangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNoiThucHien">
      <wsdl:input message="tns:GetNoiThucHienSoapIn" />
      <wsdl:output message="tns:GetNoiThucHienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQMSInfor">
      <wsdl:input message="tns:getQMSInforSoapIn" />
      <wsdl:output message="tns:getQMSInforSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSStatus">
      <wsdl:input message="tns:ChangeQMSStatusSoapIn" />
      <wsdl:output message="tns:ChangeQMSStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQMS">
      <wsdl:input message="tns:DeleteQMSSoapIn" />
      <wsdl:output message="tns:DeleteQMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSPriority">
      <wsdl:input message="tns:ChangeQMSPrioritySoapIn" />
      <wsdl:output message="tns:ChangeQMSPrioritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhong">
      <wsdl:input message="tns:GetListQmSbyMaPhongSoapIn" />
      <wsdl:output message="tns:GetListQmSbyMaPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhongAll">
      <wsdl:input message="tns:GetListQmSbyMaPhongAllSoapIn" />
      <wsdl:output message="tns:GetListQmSbyMaPhongAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertGoiLoa">
      <wsdl:input message="tns:InsertGoiLoaSoapIn" />
      <wsdl:output message="tns:InsertGoiLoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetNoiThucHien">
      <wsdl:input message="tns:_GetNoiThucHienSoapIn" />
      <wsdl:output message="tns:_GetNoiThucHienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaysoQMSGoilai">
      <soap:operation soapAction="http://tempuri.org/VmsQmsLaysoQMSGoilai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaydanhsachbenhnhanchokham">
      <soap:operation soapAction="http://tempuri.org/VmsQmsLaydanhsachbenhnhanchokham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetQMS">
      <soap:operation soapAction="http://tempuri.org/ResetQMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_get">
      <soap:operation soapAction="http://tempuri.org/QMSPhongkham_get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_CapnhatTrangthai">
      <soap:operation soapAction="http://tempuri.org/QMSPhongkham_CapnhatTrangthai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusQms">
      <soap:operation soapAction="http://tempuri.org/UpdateStatusQms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoKhamQmsChucNang">
      <soap:operation soapAction="http://tempuri.org/GetSoKhamQmsChucNang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoiThucHien">
      <soap:operation soapAction="http://tempuri.org/GetNoiThucHien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQMSInfor">
      <soap:operation soapAction="http://tempuri.org/getQMSInfor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSStatus">
      <soap:operation soapAction="http://tempuri.org/ChangeQMSStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQMS">
      <soap:operation soapAction="http://tempuri.org/DeleteQMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSPriority">
      <soap:operation soapAction="http://tempuri.org/ChangeQMSPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhong">
      <soap:operation soapAction="http://tempuri.org/GetListQmSbyMaPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhongAll">
      <soap:operation soapAction="http://tempuri.org/GetListQmSbyMaPhongAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGoiLoa">
      <soap:operation soapAction="http://tempuri.org/InsertGoiLoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetNoiThucHien">
      <soap:operation soapAction="http://tempuri.org/_GetNoiThucHien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaysoQMSGoilai">
      <soap12:operation soapAction="http://tempuri.org/VmsQmsLaysoQMSGoilai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VmsQmsLaydanhsachbenhnhanchokham">
      <soap12:operation soapAction="http://tempuri.org/VmsQmsLaydanhsachbenhnhanchokham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetQMS">
      <soap12:operation soapAction="http://tempuri.org/ResetQMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_get">
      <soap12:operation soapAction="http://tempuri.org/QMSPhongkham_get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QMSPhongkham_CapnhatTrangthai">
      <soap12:operation soapAction="http://tempuri.org/QMSPhongkham_CapnhatTrangthai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusQms">
      <soap12:operation soapAction="http://tempuri.org/UpdateStatusQms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoKhamQmsChucNang">
      <soap12:operation soapAction="http://tempuri.org/GetSoKhamQmsChucNang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoiThucHien">
      <soap12:operation soapAction="http://tempuri.org/GetNoiThucHien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQMSInfor">
      <soap12:operation soapAction="http://tempuri.org/getQMSInfor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSStatus">
      <soap12:operation soapAction="http://tempuri.org/ChangeQMSStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQMS">
      <soap12:operation soapAction="http://tempuri.org/DeleteQMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeQMSPriority">
      <soap12:operation soapAction="http://tempuri.org/ChangeQMSPriority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhong">
      <soap12:operation soapAction="http://tempuri.org/GetListQmSbyMaPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListQmSbyMaPhongAll">
      <soap12:operation soapAction="http://tempuri.org/GetListQmSbyMaPhongAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGoiLoa">
      <soap12:operation soapAction="http://tempuri.org/InsertGoiLoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetNoiThucHien">
      <soap12:operation soapAction="http://tempuri.org/_GetNoiThucHien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1850/QMS.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1850/QMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>