VMS.QMS.TTS/Service References/TTS/TTS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5525/TTS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5525/TTS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITTS_SaveAudio_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAudio" />
  </wsdl:message>
  <wsdl:message name="ITTS_SaveAudio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAudioResponse" />
  </wsdl:message>
  <wsdl:message name="ITTS_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="ITTS_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ITTS">
    <wsdl:operation name="SaveAudio">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTS/SaveAudio" message="tns:ITTS_SaveAudio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTS/SaveAudioResponse" message="tns:ITTS_SaveAudio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTS/DeleteFile" message="tns:ITTS_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTS/DeleteFileResponse" message="tns:ITTS_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITTS" type="tns:ITTS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAudio">
      <soap:operation soapAction="http://tempuri.org/ITTS/SaveAudio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/ITTS/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTS">
    <wsdl:port name="BasicHttpBinding_ITTS" binding="tns:BasicHttpBinding_ITTS">
      <soap:address location="http://localhost:5525/TTS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>